apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - statefulset.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app: mariadb
  app.kubernetes.io/name: mariadb
  app.kubernetes.io/component: database
