apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

commonLabels:
  app: hugo-site
  app.kubernetes.io/name: hugo-site
  app.kubernetes.io/component: web
