{
    "name": "example/frontend",
    "description": "Example PHP frontend application",
    "type": "project",
    "require": {
        "php": "^8.2"
    },
    "autoload": {
        "psr-4": {
            "App\\": "src/"
        }
    }
}
