apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base
  - secret.yaml

patches:
  - target:
      kind: ConfigMap
      name: flyway-config
    patch: |-
      - op: replace
        path: /data/FLYWAY_URL
        value: "jdbc:mysql://mysql.prod.svc.cluster.local:3306/myapp"
  # Increase resources for production
  - target:
      kind: Job
      name: flyway-migrate
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 200m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 1Gi

commonLabels:
  environment: prod
