apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

resources:
  - ../../base

patches:
  - target:
      kind: ConfigMap
      name: redis-config
    patch: |-
      - op: replace
        path: /data/redis.conf
        value: |
          # Redis configuration - Production
          bind 0.0.0.0
          port 6379

          # Persistence
          dir /data
          appendonly yes
          appendfsync everysec

          # Memory - higher limit for production
          maxmemory 512mb
          maxmemory-policy allkeys-lru

          # Logging
          loglevel warning

commonLabels:
  environment: prod
