apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml

commonLabels:
  app: nginx-hello-world
  app.kubernetes.io/name: nginx-hello-world
  app.kubernetes.io/component: web
